header {
    margin-top: 30px; /* 見出し余白  */
    color: darkolivegreen;
}

hr {
    /* 線の太さ   */
    border-width: 3px;
    border-color: darkolivegreen;
}

h1 {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}

.align-right {
    text-align: right;
}

@media only screen and (max-width: 992px) {
    .radio-inline {
        display: block;
        margin: 0 !important;
    }
}